body {
  background-image: ("3.png");
  margin: 0;
  background-color: #939598;
  font-family: "Rowdies", cursive;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #01142f;
  padding: 8px 0;
  text-align: left;
  z-index: 30;
}
ul {
  display: flex;
  gap: 10px;
  list-style: none;
  margin: 0;
}
li {
  margin: 0;
  padding: 0;
}
.s1 div {
  max-width: 1000px;
  margin: 0 auto;
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1000px;
  margin: 0 auto;
}
header .container > nav li {
  width: 150px;
  text-align: center;
}
.s3 {
  display: block;
  font-size: 20px;
  text-decoration: none;
  color: white;
  border: 1px solid white;
  padding: 8px 12px;
  transition: all 340ms;
}
.s3:hover {
  background-color: black;
  border-radius: 8px;
}
.page {
  display: block;
  font-size: 20px;
  text-decoration: none;
  color: black;
  border: 1px solid black;
  background-color: white;
  padding: 8px 12px;
  transition: all 340ms;
}
.page:hover {
  color: white;
  background-color: black;
  border: 1px solid white;
  border-radius: 8px;
}
a:hover {
  background-color: #65b0ff;
}
.s1 {
  position: relative;
  padding-top: 100px;
  background-image: url(3.png);
  background-repeat: no-repeat;
  width: 100%;
  min-height: 40vh;
  background-size: cover;
  font-size: 50px;
}
.s2 {
  font-size: 5rem;
  text-align: center;
  color: black;
}
.line {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 200px;
  height: 10px;
  margin: 0;
  background-color: orange;
}
h2:hover {
  transform: scale(1.3);
  color: rgb(82, 82, 221);
  border-radius: 30px;
  background-color: #65b0ff;
}
h2 {
  transition: transform 340ms;
  max-width: 200px;
  padding-left: 40px;
}

a {
  text-decoration: none;
  color: #2300b0;
}
a:hover {
  background-color: #b7d4ff;
  border-radius: 10px;
}
p,
h2 {
  padding: 20px;
}
li {
  font-size: 20px;
}
.silk {
  list-style: none;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 1000px) {
  .container {
    padding: 0 20px;
  }
}
@media (max-width: 991px) {
  .s1,
  .s1:nth-child(odd) {
    flex-direction: column-reverse;
  }
}
@media (max-width: 575px) {
  body {
    background-color: #fff;
    margin: 0;
  }
  .s3,
  .page {
    font-size: 15px;
  }
}
.logoimg {
  width: 60px;
  height: 60px;
  border-radius: 15px;
}
